mat-card {
  //width: 300px;
  //width: 25%;
}

.example-header-image {
  img {
    width: 100%;
  }
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}


.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;

  button {
    margin: 0;
  }
}

.mat-card>.mat-card-actions:last-child {
  margin: 0;
}

.mat-card-header {
  display: flex;
  align-items: center;
}

mat-drawer-container {
  width: 100%;
}

.example-container {
  //width: 500px;
  width: 100%;
  background: transparent;
  padding: 10px;
  //height: 300px;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-content {
  padding: 10px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: start;
  //justify-content: flex-end;
  justify-content: center;

  ul {
    width: 60%;
  }
}

.example-sidenav {
  padding: 20px;
  //width: 70%;
}

mwl-calendar-month-view {
  position: relative;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: aliceblue;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.calendar {
  margin: 30px 0;
}

.service-list {
  li {
    list-style: none;
    fa-icon {
      color: green;
      margin-right: 5px;
    }
  }
}
///////////////////////

.user-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  mat-form-field {
    width: 100%;
  }
}

.user-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
